---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.iyzipay.com/payment/iyzipos/auth3ds/ecom
    body:
      encoding: UTF-8
      string: '{"paymentId":"393562","locale":"tr"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - IYZWS sandbox-lYXmlBGjvZawww9mhoj7Mef89uZ1bybo:EL5kMj5jCJYn9K1WLzKkpZV16IA=
      X-Iyzi-Rnd:
      - random_string
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - iyzipay-payment-api:sandbox:8080
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"success","locale":"tr","systemTime":1497872563732,"price":10.00000000,"paidPrice":10.00000000,"installment":1,"paymentId":"393562","fraudStatus":1,"merchantCommissionRate":0E-8,"merchantCommissionRateAmount":0E-8,"iyziCommissionRateAmount":0.26250000,"iyziCommissionFee":0.22245763,"cardType":"CREDIT_CARD","cardAssociation":"MASTER_CARD","cardFamily":"Axess","binNumber":"552608","lastFourDigits":"0006","currency":"TRY","itemTransactions":[{"itemId":"BI101","paymentTransactionId":"578955","transactionStatus":2,"price":10.00000000,"paidPrice":10.00000000,"merchantCommissionRate":0E-8,"merchantCommissionRateAmount":0E-8,"iyziCommissionRateAmount":0.26250000,"iyziCommissionFee":0.22245763,"blockageRate":10.00000000,"blockageRateAmountMerchant":1.00000000,"blockageRateAmountSubMerchant":0,"blockageResolvedDate":"2017-06-26
        14:42:43","subMerchantPrice":0,"subMerchantPayoutRate":0E-8,"subMerchantPayoutAmount":0,"merchantPayoutAmount":8.51504237,"convertedPayout":{"paidPrice":10.00000000,"iyziCommissionRateAmount":0.26250000,"iyziCommissionFee":0.22245763,"blockageRateAmountMerchant":1.00000000,"blockageRateAmountSubMerchant":0E-8,"subMerchantPayoutAmount":0E-8,"merchantPayoutAmount":8.51504237,"iyziConversionRate":0,"iyziConversionRateAmount":0,"currency":"TRY"}}],"authCode":"mock00007iyziauthcd","phase":"AUTH"}'
  recorded_at: Mon, 19 Jun 2017 11:42:43 GMT
recorded_with: VCR 3.0.3
