---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.iyzipay.com/payment/iyzipos/auth/ecom
    body:
      encoding: UTF-8
      string: '{"locale":"tr","conversationId":"123456","price":1,"paidPrice":1,"basketId":"TEST_BASKET_ID","paymentGroup":"SUBSCRIPTION","paymentCard":{"cardNumber":"5400010000000004","expireYear":"2030","expireMonth":"12","cvc":"000","cardHolderName":"John
        Doe"},"buyer":{"id":"BY789","name":"Genc","surname":"Osman","identityNumber":"1000001","email":"genc@osman.com","registrationAddress":"Tomtom
        Mah. Nur-i Ziya Sok. 16/1 34433 Beyoğlu","city":"Istanbul","country":"Turkey","ip":"localhost"},"billingAddress":{"address":"Tomtom
        Mah. Nur-i Ziya Sok. 16/1 34433 Beyoğlu","contactName":"Genc Osman","city":"Istanbul","country":"Turkey"},"basketItems":[{"id":"PARASUT:1","name":"Test
        Subscription","category1":"Finance","category2":"Online","itemType":"VIRTUAL","price":"1"}],"currency":"EUR"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - IYZWS x:XGULS5X1eK/vpDVkvfGM/BsDuGk=
      X-Iyzi-Rnd:
      - random_string
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Public-Key-Pins:
      - pin-sha256="GUEngXfv2sZiDMgOCmP7lUu/qIoOWzNqgpChU5Mq554="; pin-sha256="1HA/W2JKpx0012SrpLPYJyoN3vrdSGV8r4eUD1K22Cc=";
        pin-sha256="9pfml4d3n7mXEa4UXu0k6jTHoVVPYLwsVWJbY1kn7kM="; max-age=1; includeSubDomains
    body:
      encoding: UTF-8
      string: '{"status":"success","locale":"tr","systemTime":1588042740454,"conversationId":"123456","price":1,"paidPrice":1,"installment":1,"paymentId":"12058028","fraudStatus":1,"merchantCommissionRate":0E-8,"merchantCommissionRateAmount":0,"iyziCommissionRateAmount":0.02625000,"iyziCommissionFee":0.06808191,"binNumber":"540001","lastFourDigits":"0004","basketId":"TEST_BASKET_ID","currency":"EUR","itemTransactions":[{"itemId":"PARASUT:1","paymentTransactionId":"12749660","transactionStatus":2,"price":1,"paidPrice":1.00000000,"merchantCommissionRate":0E-8,"merchantCommissionRateAmount":0E-8,"iyziCommissionRateAmount":0.02625000,"iyziCommissionFee":0.06808191,"blockageRate":10.00000000,"blockageRateAmountMerchant":0.10000000,"blockageRateAmountSubMerchant":0,"blockageResolvedDate":"2020-05-05
        05:59:00","subMerchantPrice":0,"subMerchantPayoutRate":0E-8,"subMerchantPayoutAmount":0,"merchantPayoutAmount":0.80566809,"convertedPayout":{"paidPrice":3.26750000,"iyziCommissionRateAmount":0.08577188,"iyziCommissionFee":0.22245764,"blockageRateAmountMerchant":0.32675000,"blockageRateAmountSubMerchant":0E-8,"subMerchantPayoutAmount":0E-8,"merchantPayoutAmount":2.63252048,"iyziConversionRate":0E-8,"iyziConversionRateAmount":0E-8,"currency":"TRY"}}],"authCode":"234317","phase":"AUTH","hostReference":"mock00038iyzihostrfn"}'
  recorded_at: Tue, 28 Apr 2020 02:59:00 GMT
recorded_with: VCR 3.0.3
