---
http_interactions:
- request:
    method: delete
    uri: https://api.iyzipay.com/cardstorage/card
    body:
      encoding: UTF-8
      string: '{"cardToken":"uYPntt0W4QZ8pFm6afLXCvWKjI8=","cardUserKey":"hK13yPTT0DPgs57+Y0lkfuDs1dc="}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - IYZWS x:pmuwLhoNUnQX69WGAN/SNU6taV0=
      X-Iyzi-Rnd:
      - random_string
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - iyzipay-payment-api:prod:8080
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"success","locale":"tr","systemTime":1461510776404}'
  recorded_at: Sun, 24 Apr 2016 15:12:56 GMT
