---
http_interactions:
- request:
    method: post
    uri: https://api.iyzipay.com/payment/iyzipos/checkoutform/initialize/ecom
    body:
      encoding: UTF-8
      string: '{"locale":"tr","conversationId":"123456","price":"3.0","paidPrice":"3.0","basketId":"B67832","paymentGroup":"PRODUCT","callbackUrl":"https://eda1f961.ngrok.io/callback","buyer":{"id":"BY789","name":"John","surname":"Doe","identityNumber":"74300864791","email":"email@email.com","gsmNumber":"+905350000000","registrationDate":"2013-04-21
        15:12:09","lastLoginDate":"2015-10-05 12:43:35","registrationAddress":"Nidakule
        Göztepe, Merdivenköy Mah. Bora Sok. No:1","city":"Istanbul","country":"Turkey","zipCode":"34732","ip":"85.34.78.112"},"billingAddress":{"address":"Nidakule
        Göztepe, Merdivenköy Mah. Bora Sok. No:1","zipCode":"34732","contactName":"Jane
        Doe","city":"Istanbul","country":"Turkey"},"basketItems":[{"id":"BI102","name":"Game
        code","category1":"Game","category2":"Online Game Items","itemType":"VIRTUAL","price":"1"},{"id":"I12","name":"Game
        code","category1":"Game","category2":"Online Game Items","itemType":"VIRTUAL","price":"2"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - IYZWS x:u2raopzLKJJOvIsxFIL+I9VYX8s=
      X-Iyzi-Rnd:
      - PfdtLF8M
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - iyzipay-payment-api:prod:8080
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"success","locale":"tr","systemTime":1460588522560,"conversationId":"123456","token":"692bc83c","checkoutFormContent":"<script
        type=\"text/javascript\">\nvar iyziInit = {token:''692bc83c'',price:3.00,locale:''tr'',baseUrl:''https://api.iyzipay.com'',registerCardEnabled:true,userCards:[],
        \ncreateTag:function(){\nvar iyziCSSTag = document.createElement(''link'');\niyziCSSTag.setAttribute(''rel'',''stylesheet'');\niyziCSSTag.setAttribute(''type'',''text/css'');\niyziCSSTag.setAttribute(''href'',''https://static.iyzipay.com/checkoutform/css/main.min.css'');\ndocument.head.appendChild(iyziCSSTag);\nvar
        iyziJSTag = document.createElement(''script'');\niyziJSTag.setAttribute(''src'',''https://static.iyzipay.com/checkoutform/js/iyziCheckout.min.js'');\ndocument.head.appendChild(iyziJSTag);\n}\n}\niyziInit.createTag();\n</script>\n","tokenExpireTime":1800,"paymentPageUrl":"https://cpp.iyzipay.com?token=692bc83c"}'
  recorded_at: Wed, 13 Apr 2016 23:00:11 GMT
recorded_with: VCR 3.0.1
