---
http_interactions:
- request:
    method: post
    uri: https://api.iyzipay.com/payment/iyzipos/checkoutform/auth/ecom/detail
    body:
      encoding: UTF-8
      string: '{"locale":"tr","conversationId":"123456","token":"87ed39e6-a125-46ff-81c0-XXXX"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - IYZWS x:u2raopzLKJJOvIsxFIL+I9VYX8s=
      X-Iyzi-Rnd:
      - tpp4kYmm
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - iyzipay-payment-api:prod:8080
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"success","locale":"tr","systemTime":1460590653230,"conversationId":"123456","price":1.00000000,"paidPrice":1.00000000,"installment":1,"paymentId":"3157122","fraudStatus":1,"merchantCommissionRate":0E-8,"merchantCommissionRateAmount":0E-8,"iyziCommissionRateAmount":0.02950000,"iyziCommissionFee":0.29500000,"cardType":"CREDIT_CARD","cardAssociation":"VISA","cardFamily":"Maximum","binNumber":"418342","basketId":"B67832","itemTransactions":[{"itemId":"BI102","paymentTransactionId":"2553242","transactionStatus":2,"price":1.00000000,"paidPrice":1.00000000,"merchantCommissionRate":0E-8,"merchantCommissionRateAmount":0E-8,"iyziCommissionRateAmount":0.02950000,"iyziCommissionFee":0.29500000,"blockageRate":0E-8,"blockageRateAmountMerchant":0E-8,"blockageRateAmountSubMerchant":0E-8,"blockageResolvedDate":"2016-04-14
        00:19:47","subMerchantPrice":0E-8,"subMerchantPayoutRate":0E-8,"subMerchantPayoutAmount":0E-8,"merchantPayoutAmount":0.67550000}],"token":"87ed39e6-a125-46ff-81c0-XXXX","callbackUrl":"https://eda1f961.ngrok.io/callback","paymentStatus":"SUCCESS"}'
  recorded_at: Wed, 13 Apr 2016 23:37:34 GMT
recorded_with: VCR 3.0.1
