---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.iyzipay.com/payment/iyzipos/initialize3ds/ecom
    body:
      encoding: UTF-8
      string: '{"locale":"tr","conversationId":"123456","price":1,"paidPrice":1,"basketId":"TEST_BASKET_ID","paymentGroup":"SUBSCRIPTION","callbackUrl":"http://localhost/callback","paymentCard":{"cardHolderName":"Genc
        Osman","cardNumber":"5528790000000008","expireYear":"2030","expireMonth":"12","cvc":"123"},"buyer":{"id":"BY789","name":"Genc","surname":"Osman","identityNumber":"1000001","email":"genc@osman.com","registrationAddress":"Tomtom
        Mah. Nur-i Ziya Sok. 16/1 34433 Beyoğlu","city":"Istanbul","country":"Turkey","ip":"localhost"},"billingAddress":{"address":"Tomtom
        Mah. Nur-i Ziya Sok. 16/1 34433 Beyoğlu","contactName":"Genc Osman","city":"Istanbul","country":"Turkey"},"basketItems":[{"id":"PARASUT:1","name":"Test
        Subscription","category1":"Finance","category2":"Online","itemType":"VIRTUAL","price":"1"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - IYZWS sandbox-lYXmlBGjvZawww9mhoj7Mef89uZ1bybo:Q13lMQNLzJ8fT4VExLNAfF/tKn8=
      X-Iyzi-Rnd:
      - random_string
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - iyzipay-payment-api:sandbox:8080
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"success","locale":"tr","systemTime":1497870451946,"conversationId":"123456","threeDSHtmlContent":"PCFkb2N0eXBlIGh0bWw+CjxodG1sIGxhbmc9ImVuIj4KPGhlYWQ+CiAgICA8dGl0bGU+aXl6aWNvIE1vY2sgM0QtU2VjdXJlIFByb2Nlc3NpbmcgUGFnZTwvdGl0bGU+CjwvaGVhZD4KPGJvZHk+Cjxmb3JtIGlkPSJpeXppY28tM2RzLWZ1mb3JtIikuc3VibWl0KCk7Cjwvc2NyaXB0Pgo8L2JvZHk+CjwvaHRtbD4="}'
  recorded_at: Mon, 19 Jun 2017 11:07:32 GMT
recorded_with: VCR 3.0.3
