---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.iyzipay.com/payment/iyzipos/checkoutform/initialize/ecom
    body:
      encoding: UTF-8
      string: '{"locale":"tr","conversationId":"123456","price":"3.0","paidPrice":"3.0","basketId":"B67832","paymentGroup":"PRODUCT","callbackUrl":"https://eda1f961.ngrok.io/callback","buyer":{"id":"BY789","name":"John","surname":"Doe","identityNumber":"74300864791","email":"email@email.com","gsmNumber":"+905350000000","registrationDate":"2013-04-21
        15:12:09","lastLoginDate":"2015-10-05 12:43:35","registrationAddress":"Nidakule
        Göztepe, Merdivenköy Mah. Bora Sok. No:1","city":"Istanbul","country":"Turkey","zipCode":"34732","ip":"85.34.78.112"},"billingAddress":{"address":"Nidakule
        Göztepe, Merdivenköy Mah. Bora Sok. No:1","zipCode":"34732","contactName":"Jane
        Doe","city":"Istanbul","country":"Turkey"},"basketItems":[{"id":"BI102","name":"Game
        code","category1":"Game","category2":"Online Game Items","itemType":"VIRTUAL","price":"1"},{"id":"I12","name":"Game
        code","category1":"Game","category2":"Online Game Items","itemType":"VIRTUAL","price":"2"}],"currency":"USD"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - IYZWS sandbox-lYXmlBGjvZawww9mhoj7Mef89uZ1bybo:gOJ4wKzV88dXoF1+86zP7JK660w=
      X-Iyzi-Rnd:
      - random_string
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - iyzipay-payment-api:sandbox:8080
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"success","locale":"tr","systemTime":1465218994232,"conversationId":"123456","token":"4feed048-3b69-45ab-8ec1-28488495a87e","checkoutFormContent":"<script
        type=\"text/javascript\">if (typeof iyziInit == ''undefined'') {var iyziInit
        = {currency:''USD'',token:''4feed048-3b69-45ab-8ec1-28488495a87e'',price:3.00,locale:''tr'',baseUrl:''https://sandbox-api.iyzipay.com'',registerCardEnabled:false,bkmEnabled:false,userCards:[],
        createTag:function(){var iyziCSSTag = document.createElement(''link'');iyziCSSTag.setAttribute(''rel'',''stylesheet'');iyziCSSTag.setAttribute(''type'',''text/css'');iyziCSSTag.setAttribute(''href'',''https://sandbox-static.iyzipay.com/checkoutform/css/main.min.css?v=1465218994230'');document.head.appendChild(iyziCSSTag);var
        iyziJSTag = document.createElement(''script'');iyziJSTag.setAttribute(''src'',''https://sandbox-static.iyzipay.com/checkoutform/js/iyziCheckout.min.js?v=1465218994230'');document.head.appendChild(iyziJSTag);}};iyziInit.createTag();}</script>","tokenExpireTime":1800,"paymentPageUrl":"https://sandbox-cpp.iyzipay.com?token=4feed048-3b69-45ab-8ec1-28488495a87e"}'
  recorded_at: Mon, 06 Jun 2016 13:16:34 GMT
recorded_with: VCR 3.0.1
