---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.iyzipay.com/payment/iyzipos/checkoutform/auth/ecom/detail
    body:
      encoding: UTF-8
      string: '{"locale":"tr","conversationId":"123456","token":"87ed39e6-a125-46ff-81c0-XXXX"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - IYZWS sandbox-lYXmlBGjvZawww9mhoj7Mef89uZ1bybo:piKU2XL1CueS/jUKQhiIYrtLtXg=
      X-Iyzi-Rnd:
      - random_string
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - iyzipay-payment-api:sandbox:8080
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","locale":"tr","systemTime":1460590653230,"conversationId":"123456","price":3.00000000,"paidPrice":3.00000000,"installment":1,"paymentId":"3157122","fraudStatus":1,"merchantCommissionRate":0E-8,"merchantCommissionRateAmount":0E-8,"iyziCommissionRateAmount":0.02950000,"iyziCommissionFee":0.29500000,"cardType":"CREDIT_CARD","cardAssociation":"VISA","cardFamily":"Maximum","binNumber":"418342","basketId":"B67832","itemTransactions":[{"itemId":"BI102","paymentTransactionId":"2553242","transactionStatus":2,"price":1.00000000,"paidPrice":1.00000000,"merchantCommissionRate":0E-8,"merchantCommissionRateAmount":0E-8,"iyziCommissionRateAmount":0.02950000,"iyziCommissionFee":0.29500000,"blockageRate":0E-8,"blockageRateAmountMerchant":0E-8,"blockageRateAmountSubMerchant":0E-8,"blockageResolvedDate":"2016-04-14
        00:19:47","subMerchantPrice":0E-8,"subMerchantPayoutRate":0E-8,"subMerchantPayoutAmount":0E-8,"merchantPayoutAmount":0.67550000}],"token":"87ed39e6-a125-46ff-81c0-XXXX","callbackUrl":"https://eda1f961.ngrok.io/callback","paymentStatus":"SUCCESS"}'
  recorded_at: Mon, 06 Jun 2016 13:24:27 GMT
recorded_with: VCR 3.0.1
