---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.iyzipay.com/payment/iyzipos/installment
    body:
      encoding: UTF-8
      string: '{"locale":"tr","conversationId":"123456","binNumber":"xxxxxx","price":100}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - IYZWS sandbox-lYXmlBGjvZawww9mhoj7Mef89uZ1bybo:YCd6iLFxOBsP9ZyxmsDpvmT4eoc=
      X-Iyzi-Rnd:
      - random_string
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - iyzipay-payment-api:sandbox:8080
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"success","locale":"tr","systemTime":1490192738635,"conversationId":"123456","installmentDetails":[{"binNumber":"xxxxxx","price":100,"force3ds":0,"forceCvc":0,"installmentPrices":[{"installmentPrice":100,"totalPrice":100,"installmentNumber":1}]}]}'
  recorded_at: Wed, 22 Mar 2017 14:25:38 GMT
recorded_with: VCR 3.0.3
